/* 
    Document   : doc_style.css
    Created on : Mar 3, 2012, 12:57:27 PM
    Author     : Michael Olmstead
    Description:
        Auto-document stylesheet.
*/

    .comment { color: red; }
    .codeline { color: blue; }
    .body { margin-left: 50px; }
    .bigcode { font-size: 36pt; font-weight: bold; }
    .codeline { cursor: pointer; }
    .classDefinition { color: green; cursor: pointer; }
    .class .body { position: relative; }
    .functionDefinition { color: magenta; cursor: pointer; }
    .function .body { position: relative; }
    .expandFunction { cursor: pointer; }
    .selector { color: deeppink; }
    .rule { color: teal; }
    .cssatributes { color: yellowgreen; }
    .cssindividual { color: #3395E1; }

    /* Colors from style.css that override some of the above colors. */
    .comment { color: brown; }
    .mlComment { color: green; }
    .block { border: 1px solid blue; margin: 5px; padding: 5px; }
    .selector { color: rosybrown; }
    .rule { color: gold; }
    .codeline { color: blueviolet; }

