
	<script type="text/javascript" language="javascript" src="../javascript/tools/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" language="javascript" src="../javascript/tools/jslib_dom_ready.js"></script>
	<script type="text/javascript" language="javascript" src="../javascript/tools/jslib_dom.js"></script>
	<script type="text/javascript" language="javascript" src="../javascript/tools/getElements/getElements.js"></script>
	<script type="text/javascript" language="javascript" src="../javascript/doc_style.js"></script>
</body>

</html>
