<div id="headerJdocPlus">
	<span id="headerNameJdocPlus">JdocPlus</span><button id="expandButtonJdocPlus">Expand All Toggle</button><br />
</div>

<div id="mainJdocPlus">
<table class="tableJdocPlus">
	<tr class="commandJdocPlus"><td class="expandCommandJdocPlus">+</td><td class="cmdNameJdocPlus">~COMMANDNAME~</td><td class="join">&#10145</td><td class="cmdLongNameJdocPlus">~NAME~</td></tr>
	<tr class="commandKeyJdocPlus"><td>&nbsp</td><td class="cmdKeyJdocPlus">~COMMANDKEY~</td><td class="join">&#65309</td><td class="cmdKeyValueJdocPlus">~COMMANDVALUE~</td></tr>
</table>
</div>
